@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

:root {
    --header-color: #D8E83D;
    --text-color: #202020;
    --button-color: #84347c;
    --button-color-hover: #6f6f6f;
    --border-color: #c2c2c2;
    --text-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
    --text-roboto: "Roboto", Arial, Helvetica, sans-serif;
}


/******* Normalize *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-open-sans);
    color: var(--text-color);
    & a {
        text-decoration: none;
    }
    
}

html {
    height: 100%;

}

body {
    max-width: 60em;
    min-height: 100%;
}

/****** Typography ******/
h1 {
    font-family: var(--text-open-sans);
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}


/* This is the main content */

.fullContainer {
    height: 100%;
    width: 100%;
}
/* This is the map part of the content */
.mapContainer {
    background-color: white;
    padding: .5em;
}

/* The loading animation */

.loadingIndicator {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #84347c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; 
    margin: 50px auto;
    }
    
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

/* Style for the actual map! */
.theMap {
    position: relative;
    width: 100%;
    height: 600px;
}

#btnRecenter {
    background-color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    color: black;
    font-family: var(--text-roboto);
    padding: .48em;
    margin: 7px;
    position: absolute;
    left: 100px;
    top: 3px;
    &:hover,
    &:focus {
        background-color: #eee;
    }
}

/*******************this is the sidebar*/

.mapPlaces {
    color: var(--text-color);
    overflow: hidden;
    overflow-y: scroll;
    max-height: 850px;
    li {
        list-style: none;
        margin-bottom:0;
    }
    .listings {
        border-bottom: var(--border-color) 1px solid;
        padding-bottom: 5px;
        align-items: center;
        cursor: pointer;
        .listing-icon-div {
            min-height: 135px;
            min-width: 135px;
            align-items: center;
            justify-content: center;
        }
        .listings-icon {
            width: 135px;
            height: 135px;
        }
        .listing-name {
            color: #323232;
            font-weight: 400;
        }
        .listings-info {
            color: #336282;
        }
        .listing-open {
            font-weight: bold;
            color: var(--header-color);
        }
        &:hover,
        &:focus {
          background-color: #eceff1;
        }
    }
}


/****description bottom of the map */
.mapDescription {
    padding: 0px;
    & .mapCoords {
        font-weight: bold;
    }
    & .wikiDescription {
        padding-top: 2px;
        
    }
}

/* This is the Search area */
.searchContainer {
    align-items: flex-end;
    max-width: 90%;
    margin-top: 1.3em;
}
.search {
    button {
        background: var(--button-color);
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        transition: .3s;
        &:hover,
        &:focus {
            background: var(--button-color-hover)
        }
    }
}

.search-box {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.3em;
    text-overflow: ellipses;
    padding: .8em;
}

/* This is the header section */
.header {
    background: var(--header-color);
    padding: 2em;
    font-weight: 200;
    text-align: center;
    align-items: center;
}


/*footer*/

.footer {
    display: flex;
    background: var(--header-color);
    align-items: center;
    color: black;
    font-family: var(--text-open-sans);
    padding: 1em .5em;
    div {
        padding: .5em;
    }
    a {
  
        padding: 5px;
        margin: 2px;
        transition: .5s;
        text-decoration: none !important;
        &:hover,
        &:focus {
            background: white;
            color: black;
            border-radius: 10px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none !important;
        justify-content: left;
    }
    li {
        text-align: center;
        line-height: 2em;
        list-style: none !important;
    }
    .gwg-link {
        font-size: 1.5em;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.125rem;
    }
    h3 {
        font-size: 1rem;
    }

    .theMap {
        height: 400px;
    }

    .searchContainer {
        max-width: 100%;
    }

    .search-box {
        font-size: 1em;
    }

    .header {
        padding: .9em;
    }
}

/* Check for new grid support (not -ms-grid) */
@supports(grid-area: auto) {
    body {
        display: grid;
        grid-template-rows: 1fr auto;
        max-width: 100%;
    }
    .fullContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .mapContainer {
        display: grid;
        grid-template-columns: 65% 33%;
        grid-template-areas: 
            "search places"
            "map places"
            "desc places";
        grid-gap: .5em;
    }
    .searchContainer {
        grid-area: search;
    }
    .search {
        display: grid;
        grid-template-columns: 71% 28%;
        grid-gap: 1em .3em;
    }
    .map {
        grid-area: map;
    }
    #info {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: .5em;
    }
    .mapDescription {
        grid-area: desc;
        align-items: start;
    }
    .mapPlaces {
        grid-area: places;
        .listings {
            display: grid;
            grid-template-columns: 1fr 149px;
            grid-column: auto;
            .listing-icon-div {
                display: grid;
                grid-column-start: 2;
                grid-row-start: 1;
            }
            .listing-description {
                display: grid;
                grid-template-columns: minmax(100px, 300px);
                grid-template-rows: 1fr 2fr;
            }

        }
    }

    @media screen and (max-width: 800px) {
        .fullContainer {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        .mapContainer {
            display: grid;
            grid-template-areas: 
                "search"
                "map"
                "places"
                "desc";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        }
    }
}
