
:root {
    --header-color: #D8E83D;
    --text-color: #202020;
    --button-color: #84347c;
    --button-color-hover: #6f6f6f;
    --border-color: #c2c2c2;
}


/******* Normalize *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;
}

/****** Typography ******/
h1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}


/* This is the main content */

.fullContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}
/* This is the map part of the content */
.mapContainer {
    display: grid;
    background: white;
    grid-template-columns: 65% 33%;
    grid-template-areas: 
        "search places"
        "map places"
        "desc places";
    grid-gap: 1.3em;
    padding: .5em;
}

/* Style for the actual map! */
.map {
    grid-area: map;
}
.theMap {
    position: relative;
    width: 100%;
    height: 600px;
}

/*******************this is the sidebar*/

.mapPlaces {
    color: var(--text-color);
    grid-area: places;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 850px;
    li {
        list-style: none;
        margin-bottom:0;
    }
    .listings {
        border-bottom: var(--border-color) 1px solid;
        display: grid;
        grid-template-columns: 1fr 149px;
        grid-column: auto;
        padding-bottom: 5px;
        align-items: center;
        cursor: pointer;
        .listing-description {
            display: grid;
            grid-template-columns: minmax(100px, 300px);
            grid-template-rows: 1fr 2fr;
        }
        .listing-icon-div {
            display: grid;
            grid-column-start: 2;
            grid-row-start: 1;
            min-height: 135px;
            min-width: 135px;
            align-items: center;
            justify-content: center;
        }
        .listings-icon {
            width: 135px;
            height: 135px;
        }
        .listing-name {
            color: #323232;
            font-weight: 400;
        }
        .listings-info {
            color: #336282;
        }
        .listing-open {
            font-weight: bold;
            color: var(--header-color);
        }
        &:hover {
          background-color: #eceff1;
        }
    }
}



/****description bottom of the map */
.mapDescription {
    grid-area: desc;
    padding: .5em;
}

/* This is the Search area */
.searchContainer {
    grid-area: search;
    align-items: flex-end;
    max-width: 90%;
}
.search {
    display: grid;
    grid-template-columns: 71% 28%;
    grid-gap: 1em .3em;
    button {
        background: var(--button-color);
        transition: .3s;
        &:hover,
        &:focus {
            background: var(--button-color-hover)
        }
    }
}

.search-box {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.3em;
    text-overflow: ellipses;
    padding: .8em;
}

/* This is the header section */
.header {
    background: var(--header-color);
    padding: 2em;
    font-weight: 200;
    text-align: center;
    align-items: center;
}


/*footer*/

.footer {
    display: flex;
    background: var(--header-color);
    align-items: center;
    color: black;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 1em .5em;
    div {
        padding: .5em;
    }
    & a {
        color: black;
        padding: 5px;
        margin: 2px;
        transition: .5s;
        &:hover,
        &:focus {
            background: white;
            color: black;
            border-radius: 10px;
        }
    }
    & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: left;
    }
    & li {
        text-align: center;
        line-height: 2em;
    }
    & .gwg-link {
    font-size: 1.5em;
    align-items: center;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.125rem;
    }
    h3 {
        font-size: 1rem;
    }
    .fullContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .mapContainer {
        display: grid;
        grid-template-areas: 
            "search"
            "map"
            "places"
            "desc";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    }

    .theMap {
        height: 400px;
    }

    .searchContainer {
        max-width: 100%;
    }

    .search-box {
        font-size: 1em;
    }

    .header {
        padding: .9em;
    }
}