:root {
  --header-color: #D8E83D;
  --text-color: #202020;
  --button-color: #84347c;
  --button-color-hover: #6f6f6f;
  --border-color: #c2c2c2;
  --text-open-sans: "Open Sans", Arial, Helvetica, sans-serif; }

/******* Normalize *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  max-width: 60em;
  margin: 0 auto;
  min-height: 100%; }

/****** Typography ******/
h1 {
  font-family: var(--text-open-sans);
  font-size: 1.6rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.2rem; }

/* This is the main content */
.fullContainer {
  height: 100%;
  width: 100%; }

/* This is the header section */
.header {
  background: var(--header-color);
  padding: 2em;
  font-weight: 200;
  text-align: center; }

/* This is the map part of the content */
.mapContainer {
  background: white;
  padding: .5em; }

/* This is the Search area */
.searchContainer {
  max-width: 88%; }

.search button {
  background: var(--button-color);
  max-width: 10em;
  transition: .3s; }
  .search button:hover, .search button:focus {
    background: var(--button-color-hover); }

.search-box {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  text-overflow: ellipses;
  padding: .8em; }

/* Style for the actual map! */
.theMap {
  position: relative;
  width: 100%;
  height: 600px; }

/*******************this is the sidebar*/
.mapPlaces {
  color: var(--text-color);
  overflow: hidden;
  overflow-y: scroll;
  max-height: 850px; }
  .mapPlaces li {
    list-style: none; }
  .mapPlaces .listings {
    border-bottom: var(--border-color) 1px solid;
    padding: .3em; }
    .mapPlaces .listings .listing-icon-div {
      min-height: 135px;
      min-width: 135px; }
    .mapPlaces .listings .listings-icon {
      width: 135px;
      height: 135px; }
    .mapPlaces .listings .listing-name {
      color: #323232;
      font-weight: 400; }
    .mapPlaces .listings .listings-info {
      color: #336282; }
    .mapPlaces .listings .listing-open {
      font-weight: bold;
      color: var(--header-color); }

/****description bottom of the map */
.mapDescription {
  padding: .5em; }

/*footer*/
.footer {
  clear: both;
  background: var(--header-color);
  color: black;
  font-family: var(--text-open-sans);
  padding: 1em .5em; }
  .footer div {
    padding: .5em; }
  .footer a {
    color: black;
    padding: 5px;
    margin: 2px;
    transition: .5s; }
    .footer a:hover, .footer a:focus {
      background: white;
      color: black;
      border-radius: 10px; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.2rem; }
  h2 {
    font-size: 1.125rem; }
  h3 {
    font-size: 1rem; }
  .header {
    padding: .9em; }
  .searchContainer {
    max-width: 100%; }
  .search-box {
    font-size: 1em; }
  .theMap {
    height: 400px; } }

/* Target support for new grid layout, not -ms-grid */
@supports (grid-area: auto) {
  body {
    display: grid;
    max-width: 100%; }
  .fullContainer {
    display: grid;
    grid-template-areas: "header" "main" "footer"; }
  .header {
    align-items: center;
    grid-area: header; }
  .mapContainer {
    grid-area: main;
    grid-template-columns: 65% 33%;
    grid-template-areas: "search places" "map places" "desc places";
    grid-gap: 1.3em; }
  .searchContainer {
    grid-area: search;
    align-items: flex-end; }
  .search {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1em .3em; }
  .map {
    grid-area: map; }
  .mapPlaces {
    grid-area: places; }
    .mapPlaces .listings {
      display: grid;
      grid-template-columns: 1fr 149px;
      grid-column: auto;
      align-items: center; }
      .mapPlaces .listings .listing-description {
        display: grid;
        grid-template-columns: minmax(100px, 300px);
        grid-template-rows: 1fr 2fr; }
      .mapPlaces .listings .listing-icon-div {
        display: grid;
        grid-column-start: 2;
        grid-row-start: 1;
        align-items: center;
        justify-content: center; }
  .mapDescription {
    grid-area: desc; }
  .footer {
    grid-area: footer; }
  @media screen and (max-width: 800px) {
    .fullContainer {
      display: grid;
      min-width: 400px;
      grid-template-columns: 1fr; }
    .mapContainer {
      display: grid;
      grid-template-areas: "search" "map" "places" "desc";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)); } } }
